.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  padding-bottom: 40px;
}

.App-title {
  font-size: 1.5em;
}

.results {
  padding-top: 30px;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: #222;
  color: white;
  border-radius: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle:hover {
  cursor: default;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0,0,0,0.4);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-height: 80%;
  transform: translate(-50%, -50%);
  padding: 45px 30px 30px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  z-index: 99;
  overflow: auto;
}

button {
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #222;
  color: white;
}

.modalCloseButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  background-color: #d3d3d3;
}

.missionPatch {
  float: left;
  margin-top: -30px;
  max-height: 180px;
  max-width: 200px;
  padding: 10px;
}

.superNicelyStyledRocketDeets {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 25px;
  margin-bottom: 10px;
  text-align: left;
}

.superNicelyStyledRocketDeets break {
  /* forces line break in flexbox */
  flex-basis: 100%;
  width: 0px; 
  height: 0px; 
  overflow: hidden;
}